*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);

    --vb-yellow: hsl(52, 100%, 62%);


    --pl-white: hsl(0, 0%, 100%);

    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);

    --dk-text: hsl(198, 20%, 13%);
}


.wrapper{
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
}

.displayContainer{
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
    position: relative;
}

.display{
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    padding-right: 3.25rem;
    border: none;
    padding-left: 1.3rem ;
}

.display:focus{
    outline: none;
}

.display::placeholder{
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2 rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--vb-yellow);
    opacity: 0.65;

}

.displayContainer button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container{
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--dk-violet);
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 0.35rem solid var(--lt-violet2);
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    font-size: 1.5rem;
    color: var(--vb-yellow);
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1.75rem; */
    margin-bottom: 2rem;
}

.strength-container p{
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generatePass{
    width: 100%;
    background-color: var(--vb-violet);
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    color: var(--vb-yellow);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2rem;
}

.check{
    margin: 1rem 0;
    display: flex;
    gap: 0 1rem;
    align-items: center;
    line-height: 1.2rem;
}

.check input{
    appearance: none;
    position: relative;
    border-radius: 0.35rem;
    border: 1px solid var(--vb-cyan);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check input:checked{
    background-color: var(--vb-cyan);
}

.check input:checked::before{
    position: absolute;
    content: '✔';
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--dk-text);
}

.check label{
    font-size: 1.25rem;
    letter-spacing: 0.75px;
    color: var(--pl-white);
}

.copyMsg{
    scale: 0;
    opacity: 0;
    position: absolute;
    display: inline-block;
    top: -38px;
    left: -25px;
    background-color: var(--lt-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    border-radius: 1rem;
    text-align: center;
    padding: 3px 13px;
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.active{
    opacity: 1;
    scale:1;
}

.slider{
    appearance: none;
    height: 0.75rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--lt-violet);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(0.25turn, var(--vb-violet2), var(--vb-violet));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    background-color: var(--vb-yellow);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
    transition: all 100ms ease-in-out;
    box-shadow: 0 0 20px 0 rgb(225, 229, 61, 0.5);
}

.slider:focus{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0 0 20px 0 rgb(225, 229, 61, 0.5);
    
}

